@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  width: 94%;
  margin: auto;
}

nav {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedede;
  ul {
    display: flex;
    li {
      list-style: none;
      padding: 10px;
      &:hover {}
      a {
        text-decoration: none;
      }
    }
  }
}

.gallery {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.content {
  width: 95%;
  max-width: 1250px;
  margin: 0 auto;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-gap: 1em;
}

figure {
  margin: 0;
  padding: 0;
  position: relative;
  width: 300px;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.rail-car {
  img {
    padding: 1rem;
    box-shadow: 1px 2px 40px 2px rgba(160, 160, 160, .5);
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
    display: block;
    &.portrait {
      width: 100%;
      height: auto;
    }
  }
  figcaption {
    position: absolute;
    top: 15em;
    bottom: 1em;
    right: 1em;
    left: 1em;
    background: rgba(112, 169, 161, 0.8);
    color: #0b2027;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 300ms;
  }
  &:hover figcaption {
    opacity: 1;
  }
  .name {
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
  }
}